@*@model DataProvider.Login*@
@model List<DataProvider.Login>

@{
    ViewBag.Title = "Home Page";
}
<table border="1"  id="userlist" style=" margin:50px ">
    <tr>
        <th>
            ID
        </th>
        <th>
            user
        </th>
        <th>
            pass
        </th>
        <th>
            fullname
        </th>
        <th>
            Status
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="tr_@item.id">
            <td>
                @item.id
            </td>
            <td class="username">
                @item.username
            </td>
            <td class="pas">
                @item.pass
            </td>
            <td class="full">
                @item.fullname
            </td>
            <td>
                <a href="javascript:deleted('@item.id','@item.username')">
                    [xoa]
                </a>
                <span>&nbsp;</span>
                <a href="javascript:BeginEdit('@item.id','@item.username','@item.fullname')">
                    [edit]
                </a>
            </td>
        </tr>
    }
</table>

<h2 id="edit">them moi</h2>
<input type="text"  id="username" placeholder="nhập username">
<input type="password"  id="pass" placeholder="nhập pass">
<input type="password"  id="repasss" placeholder="nhập lai pass">
<input type="text"  id="fullname" placeholder="nhập full name">
<input type="text"  id="txtid" placeholder="nhập id" style="display:none">

<p id="lbl"></p>
<div  id="lblms" style="display:none"></div>


<div style="border:1px solid aqua; color:brown; display:inline" onclick="crete()">
    save
</div>
<span>&nbsp;</span>
<div onclick="resave()" style="border:1px solid aqua; color:brown; display:inline; margin-left:100px">
    change
</div>
<script>
    //nhận biết thêm mới hay edit
    //var EditMode = false;
    //var EditId = '';
    //chọn thêm hay edit
   // function EditOrAdd() {
        //if (EditMode) {
          
        //    SaveEdit();
        //}
        //else{
       // crete();
        //}
        //SaveEdit();
    //}

    //ham tao moi usser
    function crete() {
        var username = $("#username").val();
        var pass = $("#pass").val();
        var fullname = $("#fullname").val();
        var repasss = $("#repasss").val();
        ///
        if (username == '' || pass ==''||fullname =='') {
            $("#lblms").html("không được để trống nha");
            $("#lblms").css('display', 'block');
            $("#lblms").css('color', 'red');    
            $("#lblms").css('width', '150px');
            return;
        }
        else if (pass != repasss) {
            $("#lblms").html("pass khồn trùng rồi bạn ơi");
            $("#lblms").css('display', 'block');
            $("#lblms").css('color', 'red');
            $("#lblms").css('width', '150px');
            return;
        }
        var form = new FormData();
        form.append("username", username);
        form.append("pass",pass);
        form.append("fullname", fullname);

       
        ///goi Ajax

        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://localhost:59191/Home/crete', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var js = JSON.parse(content);
                if (js.Data.status == "OK") {
                    var tra = '<tr><td>'+ "reload lại nha"+'</td><td>' + username + ' </td><td> ' + pass + ' </td><td>' + fullname + '</td></tr>';
                    $("#userlist").append(tra);
                   // console.log("chay toi đâ");

                    //hiển thị thanh công
                    $("#lblms").html("đã thêm rồi nha");
                    $("#lblms").css('display', 'block');
                    $("#lblms").css('color', 'blue');
                    $("#lblms").css('width', '150px');
                    //
                   $("#username").val(' ');
                   $("#pass").val(' ');
                   $("#fullname").val(' ');
                   $("#repasss").val(' ');
                }
                else {
                    $("#lblms").html(js.Data.message());
                    $("#lblms").css('display', 'block');
                    $("#lblms").css('color', 'screen');
                    $("#lblms").css('width', '150px');
                }
             }
           }
            xhr.send(form);
    }
    ////Ham DELETE
    function deleted(id, username) {
        if (confirm('ban co muon xoa:' + username)) {

            var form = new FormData();
            form.append("id", id);
            //
            var xhr = new XMLHttpRequest();
            xhr.open("POST", 'http://localhost:59191/Home/deleted', true);
             
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var js = JSON.parse(content);
                    if (js.Data.status == "OK") {
                        console.log($("#tr_" + id));
                       $("#tr_" + id).remove();
                        //console.log("hiphop never die");
                    }
                }
            }

            
        }
        xhr.send(form);
    } 
   // edit
    function BeginEdit(id, username, fullname) {
        //giai đoạn 1
       // editmode = true;

        $("#username").val(username);
        $("#fullname").val(fullname);

        $("#txtid").val(id);
       // editid = id;
    }
    //giai đoạn 2
    function resave() {
        var id = $("#txtid").val();
        var username = $("#username").val();
        var pass = $("#pass").val();
        var fullname = $("#fullname").val();

        //validation
        if (username == '' || fullname == '') {
            $("#lblms").html("không được để trống nha");
            $("#lblms").css('display', 'block');
            $("#lblms").css('color', 'red');
            $("#lblms").css('width', '150px');
            return;
        }
        //
        var form = new FormData();
        form.append("id",id);
        form.append("username",username);
        form.append("pass",pass);
        form.append("fullname",fullname);
        //
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://localhost:59191/Home/resave', true);
        xhr.onreadystatechange = function () {
            if(xhr.readyState == 4 && xhr.status == 200){
                var content = xhr.responseText;
                var js = JSON.parse(content);
                if (js.Data.status == "OK") {
                    $("#tr_" + id + '.username').html(username);
                    $("#tr_" + id + '.username').html(username);
                    $("#tr_" + id + '.fullname').html(fullname);
                    ///
                    $("#lblms").html("Sửa rồi");
                    $("#lblms").css('display', 'block');
                    $("#lblms").css('color', 'green');
                    $("#lblms").css('width', '150px');
                }
                else {
                    $("#lblms").html(js.Data.message());
                    $("#lblms").css('display', 'block');
                    $("#lblms").css('color', 'red');
                    $("#lblms").css('width', '150px');
                }
             }
            
         }
        xhr.send(form);
    }
</script>